<%= form_tag(members_path, method: :get) do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Name Search - case sensitive', class: 'searchFormField' %>
  <%= submit_tag 'Search', name: nil %>
<% end %>


<p>Add a <%= link_to 'new family member', new_member_path %></p>


<h1>Kwan Family</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  	<% @members.each do |member| %>
    	<tr>
      	<td><%= member.name %></td>
      	<td><% member.number.each do |num| %>
						<%= num %>
					<% end %>
					<% if member.spouse == true %>
						S
					<% end %></td>
      	<td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
     </tr>   
     <% end %>    
  </tbody>
</table>